<a href="https://colab.research.google.com/github/OsbenVizcarra/Programacion_101/blob/main/01_Introduccion_a_Python/02_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:
# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

manzana kiwi

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

['manzana', 'plátano', 'naranja', 'uva', 'pera', 'kiwi']

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

['manzana', 'plátano', 'naranja', 'uva', 'pera', 'kiwi', 'kiwi']

In [ ]:
# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

['manzana', 'plátano', 'mango', 'naranja', 'uva', 'pera', 'kiwi', 'kiwi']

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

['manzana', 'plátano', 'mango', 'uva', 'pera', 'kiwi', 'kiwi']

In [ ]:
# Ordenar una lista
frutas.sort()
print(frutas)

['kiwi', 'kiwi', 'mango', 'manzana', 'pera', 'plátano', 'uva']

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

['uva', 'plátano', 'pera', 'manzana', 'mango', 'kiwi', 'kiwi']

### Ejemplo 1.3: Operaciones numéricas con listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

Números pares del 2 al 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

Múltiplos de 5 entre 0 y 50: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

In [ ]:
# Crea una lista de números entre 1 y 100 usando la función range()
numeros = list(range(1, 101))
print("La longitud de la lista es de:", len(numeros))

# Calcula la media de los valores de la lista usando las funciones sum() y len()
media = sum(numeros) / len(numeros)
print("La media de los valores de la lista es:", media)

# Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números
primeros_50 = list(range(1, 51))
ordenada_inversa = sorted(primeros_50, reverse=True)
print("La lista ordenada inversamente inicia en:", ordenada_inversa[0])
print("La lista ordenada inversamente termina en:", ordenada_inversa[-1])

# Crea una lista que contenga solo los números mayores a 50, multiplicados por 2
numeros_mayores_50 = [numeros * 2 for numeros in numeros if numeros > 50]
print("La longitud de la lista indicada:",numeros_mayores_50)
print("La lista indicada comienza con:", numeros_mayores_50[0])
print("La lista indicada termina con:", numeros_mayores_50[-1])

La longitud de la lista es de: 100
La media de los valores de la lista es: 50.5
La lista ordenada inversamente inicia en: 50
La lista ordenada inversamente termina en: 1
La longitud de la lista indicada: [102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
La lista indicada comienza con: 102
La lista indicada termina con: 200

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [ ]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

['Juan', 'Pedro', 'Ana', 'Maria']

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [ ]:
# Crea una lista de los números impares entre 1 y 50
impares = [x for x in range(1,51) if x % 2 != 0]
print("La lista en mención es: ",impares)

# Genera una lista con los cubos de los primeros 10 números (1 al 10)
cubos = [x**3 for x in range (1,11)]
print("La lista en mención es: ",cubos)

# Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.
palabras = ["tomar", "gaseosa", "en", "exceso", "es", "malo", "para", "la", "salud"]
palabras4letras = [palabras.upper() for palabras in palabras if len(palabras) > 4]
print("La lista con palabras de más de 4 letras en mayúsculas es:",palabras4letras)

La lista en mención es:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
La lista en mención es:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
La lista con palabras de más de 4 letras en mayúsculas es: ['TOMAR', 'GASEOSA', 'EXCESO', 'SALUD']

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

['a', 'b', 'c']

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

['d', 'e', 'f', 'g', 'h']

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

['g', 'h']

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

[2, 4, 6, 8, 10]

In [ ]:

# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

[1, 4, 7, 10]

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

In [ ]:

# Crea una lista con los números del 1 al 100.
numeros = list(range (1,101))

In [ ]:

# Extra los primeros 10 números.
primeros_10 = numeros[:10]
print(primeros_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

# Extrae los últimos 10 números.
ultimos_10 = numeros[-10:]
print(ultimos_10)

[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [40]:

# Usa slicing para dividir una lista de palabras en dos mitades.
palabras = ["aprender","programación","es","muy","divertido"]
mitad = len(palabras)//2
print("La primera mitad tiene los siguientes elementos:",palabras[:mitad])
print("La segunda mitad tiene los siguientes elementos:",palabras[mitad:])

La primera mitad tiene los siguientes elementos: ['aprender', 'programación']
La segunda mitad tiene los siguientes elementos: ['es', 'muy', 'divertido']

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [41]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

X: 10.5
Y: 20.3

### Ejemplo 4.2: Intento de modificación de una tupla

In [42]:
# Crear una tupla
dimensiones = (200, 50)

In [43]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [44]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

Nuevas dimensiones: (400, 100)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

In [ ]:
# Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
dimensiones = (100, 50)
print("Dimensiones originales:", dimensiones)

In [30]:
# Intenta modificar un elemento de la tupla y observa el error que genera.
dimensiones[0] = 150

TypeError: 'tuple' object does not support item assignment

In [29]:
# Reescribe la tupla completa con nuevas dimensiones.
dimensiones = (200, 100)
print("Nuevas dimensiones:", dimensiones)

Nuevas dimensiones: (200, 100)

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

In [50]:
# Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
camisetas = [10, 12, 8, 15, 9, 11, 7]
pantalones = [5, 7, 6, 8, 4, 9, 5]
zapatos = [3, 4, 2, 5, 3, 6, 2]

In [51]:
# Extraer las ventas de los últimos 3 días para cada producto
ultimas_camisetas = camisetas[-3:]
ultimos_pantalones = pantalones[-3:]
ultimos_zapatos = zapatos[-3:]

print("Últimas 3 ventas de camisetas:", ultimas_camisetas)
print("Últimas 3 ventas de pantalones:", ultimos_pantalones)
print("Últimas 3 ventas de zapatos:", ultimos_zapatos)

Últimas 3 ventas de camisetas: [9, 11, 7]
Últimas 3 ventas de pantalones: [4, 9, 5]
Últimas 3 ventas de zapatos: [3, 6, 2]

In [52]:
# Calcular el total de ventas y el promedio de cada producto
total_camisetas = sum(x for x in camisetas)
promedio_camisetas = total_camisetas / len(camisetas)

total_pantalones = sum(x for x in pantalones)
promedio_pantalones = total_pantalones / len(pantalones)

total_zapatos = sum(x for x in zapatos)
promedio_zapatos = total_zapatos / len(zapatos)


print("Total de ventas de camisetas:", total_camisetas)
print("Promedio de ventas de camisetas:", promedio_camisetas)

print("Total de ventas de pantalones:", total_pantalones)
print("Promedio de ventas de pantalones:", promedio_pantalones)

print("Total de ventas de zapatos:", total_zapatos)
print("Promedio de ventas de zapatos:", promedio_zapatos)

Total de ventas de camisetas: 72
Promedio de ventas de camisetas: 10.285714285714286
Total de ventas de pantalones: 44
Promedio de ventas de pantalones: 6.285714285714286
Total de ventas de zapatos: 25
Promedio de ventas de zapatos: 3.5714285714285716

In [53]:
# Clasificar los productos en "buenas ventas" o "malas ventas"
ventas_camisetas = "Buenas ventas" if promedio_camisetas >5 else "Malas ventas"
ventas_pantalones = "Buenas ventas" if promedio_pantalones > 5 else "Malas ventas"
ventas_zapatos = "Buenas ventas" if promedio_zapatos > 5 else "Malas ventas"

print("El nivel de ventas de camisetas:", ventas_camisetas)
print("El nivel de ventas de pantalones:", ventas_pantalones)
print("El nivel de ventas de zapatos:", ventas_zapatos)

El nivel de ventas de camisetas: Buenas ventas
El nivel de ventas de pantalones: Buenas ventas
El nivel de ventas de zapatos: Malas ventas

---

# Gracias por completar este laboratorio!

---